<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Party:</strong>
  <%= @candidate.party %>
</p>

<h3>Candidate Speeches</h3>

<table>
  <thead>
    <tr>
      <th>Date of Speech</th>
      <th>Speech</th>
      <th></th>
      <th>Date Added</th>
    </tr>
  </thead>
  <tbody>
  <% @candidate.speeches.each do |speech| %>
    <tr>
    <td><%= speech.date %></td>
    <td><%= speech.text %></td>
    <td><%= link_to 'Concepts', speech_path %></td>
    <td><%= speech.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>